:root {
  --primary-colour: #212529;
  --secondary-colour: #5c78f5;
  --accent-colour: #083af9;
  --background-colour: #feebeb;
  --font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: var(--background-colour);
}
.App {
  max-width: 720px;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 10px;
}
header {
  margin-bottom: 20px;
}
h1 {
  color: var(--secondary-colour);
  font-size: 80px;
  font-family: "Caprasimo", serif;
  text-align: center;
  text-shadow: 3px 2px rgb(8, 58, 249, 0.2);
  letter-spacing: 4px;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding-bottom: 10px;
}
.search-input {
  font-size: 18px;
  font-family: var(--font-family);
  width: 350px;
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.search-button {
  color: #fdfdff;
  font-size: 18px;
  font-family: var(--font-family);
  background-color: var(--secondary-colour);
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.search-button:hover {
  background-color: var(--accent-colour);
}
.topic-filter {
  font-size: 16px;
  font-family: var(--font-family);
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid var(--secondary-colour);
}
.result-card {
  background-color: #fdfdff;
  border-radius: 10px;
  border: 1px solid var(--secondary-colour);
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  transition: all ease-in-out 0.3s;
}
.result-card:hover {
  transform: scale(1.02);
  box-shadow: 4px 3px rgb(8, 58, 249, 0.2);
}
.result-cover {
  max-width: 100px;
  display: block;
  border-radius: 6px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.result-details {
  margin-left: 14px;
}
.result-title {
  color: var(--primary-colour);
  font-family: monospace;
  font-weight: 600;
  font-size: 21px;
}
.result-author {
  font-family: var(--font-family);
  color: var(--primary-colour);
  opacity: 0.8;
  font-size: 18px;
}
.result-link {
  font-family: monospace;
  font-size: 16px;
  text-decoration: underline;
  color: var(--secondary-colour);
  transition: color 0.3s ease;
}
.result-link:hover {
  color: var(--accent-colour);
}
.no-results {
  text-align: center;
  color: #757575;
  font-size: 20px;
  margin-top: 40px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
  padding: 20px 0;
}
.pagination button {
  color: #fdfdff;
  font-size: 26px;
  font-family: var(--font-family);
  background-color: var(--secondary-colour);
  padding: 2px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pagination-button:hover {
  background-color: var(--accent-colour);
}
.pagination-info {
  font-size: 18px;
  font-family: monospace;
  color: var(--primary-colour);
  font-weight: 500;
}
footer {
  color: var(--secondary-colour);
  font-family: monospace;
  text-align: center;
  font-size: 16px;
  margin: 10px 10px;
  padding-top: 30px;
  border-top: var(--secondary-colour) 1px dashed;
}
footer a {
  color: var(--secondary-colour);
  text-decoration: none;
  transition: 150ms ease-in-out;
}
footer a:hover {
  color: var(--accent-colour);
}
